<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="insert.css">
</head>
<body>
    <div id="overall">
    <form action="/insert" method="POST" id="insertion">
        <button type="submit" id="submiting">submit</button><br>
        <input type="text" name="tablename" placeholder="Enter table name"><br>
        <input type="text" name="field" placeholder="Fieldname">
        <input type="text" name="value" placeholder="value">
        
    </form>
    <button id="addfield">+</button>
</div>

    <script>
        document.getElementById("addfield").addEventListener("click",function(){
            let inp1 = document.createElement("input");
            inp1.setAttribute("type","text");
            inp1.setAttribute("name","field");
            inp1.setAttribute("placeholder","Field");
            let inp2 = document.createElement("input");
            inp2.setAttribute("type","text");
            inp2.setAttribute("name","value");
            inp2.setAttribute("placeholder","value");
            let doc = document.getElementById("insertion");
            doc.appendChild(inp1);
            doc.appendChild(inp2);
            doc.appendChild(document.createElement("br"))
        })
    </script>
</body>
</html>